.popup-content{
    margin: 20px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    height: 85%;
}

.popup-content {

    overflow-y: auto;
 /* för att undvika att innehållet ligger under scrollbar */
}

iframe{

    margin-top: 0px;
    width: 50%;
    height: 100%;
}

video{

    margin-top: 0px;
    width: 100%;
    height: 50vh;
}

.popup-content-row{
    padding: 10px;
    display: flex;
    flex-direction: row;
    max-height: 200px;
    border-bottom: 2px solid rgb(78, 78, 78);
    margin-right: 20px;
}

.popup-content-row:hover{
    background-color: lightgray;
}

.popup-content-row img{

    height: 70px;
}

.popup-content-row h3{
    margin-left: 20px;
    padding-top: 10px;
}


.popup-dropdown-content{
    background-color: rgb(239, 239, 239);
    padding-top: 20px;
    margin-right: 20px;
    padding: 20px;
}

.popup-dropdown-content-company{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.popup-dropdown-content-title{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.popup-dropdown-content-title h2{
    margin-top: 0px
}

.popup-dropdown-content-description{
    padding-bottom: 20px;
}


.date{

    right: 100px;
}

.skills{
    position: absolute;
    right: 500px;
    color: rgb(123, 123, 123);
    font-weight:normal;
}

.popup-content::-webkit-scrollbar {
    width: 50px;
  }
  
  .popup-content::-webkit-scrollbar-track {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
  }
  
  .popup-content::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #d4d0c8, #808080);
    border: 2px solid #c0c0c0;
    box-shadow: inset 1px 1px #ffffff;
  }


.notes-container{
    display: grid;
    grid-template-columns: 2fr 5fr;

}

.notes-container-row.active {
    background-color: #d0d0d0;
    border-left: 4px solid #007bff;
    padding-left: 8px;
  }
  
.notes-container-left{
    width: 100%;

}

.notes-container-left h2{
    margin-bottom: 0;
}

.notes-container-right{
    width: 100%;
    background-color: #808080;

}

.notes-container-row{
    width: 100%;

}

.notes-container-row{
    height: 110px;

}
  
.notes-container-row:hover{
    background-color: rgb(230, 230, 230);
}
  
.notes-container-row{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(165, 165, 165);
}

textarea{
    width: 100%;
    height: calc(86vh - 80px);
    padding: 0;
    font-size: 20px;
}