.image-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.icon-button-3d{
  height: 10vw;
  padding-top: 2vw;
}

.icon-button-3d:hover{
  cursor: pointer;
  filter: brightness(0.8); /* Gör bilden 20% mörkare */
}


.controller-bar {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5vw;
  margin-right: 5vw;
}

.icon-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.cvImage {
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  object-fit: contain;
}
