nav {
  height: 80px;
  position: relative;
  top: 0;
  background-color: rgba(13, 13, 13, 0.6); /* Semi-transparent mörk färg */
  backdrop-filter: blur(10px);             /* Frostig effekt */
  -webkit-backdrop-filter: blur(10px);     /* Safari support */
  display: flex;
  justify-content: center;
  align-items: center;
 /* Subtil linje för djup */
        /* Lätt skugga under nav */
  z-index: 10; /* Se till att den ligger över annat innehåll */
}


.nav-content {
  max-width: 1200px;
  width: 100%;
  display: flex;             /* Flex container */
  justify-content: center;   /* Center child elements horizontally */
  align-items: center;
}

.nav-content-cell {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 20px;
}

.nav-content-cell:hover {
  color: wheat;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Dölj checkboxen */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flexbox-fix{
  display: none;
}

/* När toggeln är på (checked) */
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
  background: url('sun.svg') no-repeat center center;
  background-size: contain;
}